.snackbar {
  position: fixed;
  right: 5%;
  top: 10%;
  z-index: 1000;
  width: 350px;
  height: 100px;
  border-radius: 8px;
  padding: 10px;
  display: flex;

  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #557da526;
  border-radius: 5px;
  text-align: center;
}

.snackbar .close {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.snacktitle {
  text-align: left;
  font-size: var(--font-large);
  color: var(--primary-button);
  font-weight: 500;
}
.messagesubtitle {
  text-align: left;
  font-weight: 400;
  font-size: var(--font-small);
  color: var(--dark-background);
}
.snackbar .closeSnack {
  cursor: pointer;
  width: 15px;
}

.snackbar .symbol {
  border: 1px solid red;
  flex: 20%;
}

.snackbar .message {
  flex: 80%;
  text-align: start;
  font-weight: bold;
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}
#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
